.featured {
  position: absolute;
  transform: rotate(-45deg);
  background: var(--bs-secondary);
  font-size: 12px;
  width: 100px;
  top: 20px;
  left: -10px;
}

.card-category {
  font-size: 12px;
  display: block;
}

.card-category-wrapper {
  background: rgb(47,79,79,0.8);
}

.description-wrapper {
  background: linear-gradient(rgb(128,128,128, 0.1), Black);
}

#slideshow {
}

#videos {
}

