.featured {
  position: absolute;
  transform: rotate(-45deg);
  background: var(--bs-secondary);
  font-size: 12px;
  width: 100px;
  top: 20px;
  left: -10px;
}

.card-category {
  font-size: 12px;
  display: block;
}

.card-category-wrapper {
  background: rgb(47,79,79,0.8);
}

.description-wrapper {
  background: linear-gradient(rgb(128,128,128, 0.1), Black);
}

#slideshow {
}

#videos {
}

#list img {
  height: 300px;
}

.card-description::-webkit-scrollbar {
  width: 5px;
}

.card-description::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.card-description::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.25);
  border-radius: 50px;
}

.card-description::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.5);
}

