<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Romsal, SRL</title>
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="384x384" href="/assets/img/favicon/android-chrome-384x384.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" href="/assets/css/about.css?h=a09c004c68bf879cc04231cc1b6edf4b">
    <link rel="stylesheet" href="/assets/css/custom-colors.compiled.css?h=c56b082155acdada91dfdcb9dcf23b85">
    <link rel="stylesheet" href="/assets/css/generic/cards.css?h=1c3e401e4421d22b1619648447ba6a51">
    <link rel="stylesheet" href="/assets/css/generic/fields.css?h=a3fd52f6785712ad3201dc899f0c34be">
    <link rel="stylesheet" href="/assets/css/generic/general.css?h=a7957f698ea1f4e9b33d41f9c0b2e442">
    <link rel="stylesheet" href="/assets/css/generic/highlight.css?h=de10cb38c5475825bbac2117f770edd0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=ABeeZee&amp;display=swap">
</head>

<body>
    <header>{#include common/includes/navbar/}</header>
    <main>
        <section class="highlight">
            <div class="container">
                <h2>Nosotros</h2>
                <p>Somos una empresa constructora e inmobiliaria con más de 10 años de experiencia en el mundo de bienes raíces, pero lo que más nos destaca es la dedicación y apoyo que le brindamos a cada uno de nuestros clientes. A través de los años hemos expandido nuestro catálogo con propiedades e inmuebles que están tanto a la venta cómo en alquiler.&nbsp;No importa si lo que buscas es un apartamento o un módulo de oficina, nosotros lo tenemos.<br></p>
            </div>
        </section><!-- Start: 1 Row 2 Columns -->
        <div class="container my-5">
            <div class="row">
                <div class="col-md-7">
                    <div class="row row-cols-1 gap-3" x="">
                        <div class="col">
                            <div>
                                <h3>Misión</h3>
                                <p>Nuestra misión es atender satisfactoriamente las necesidades inmobiliarias de nuestros clientes.<br></p>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <h3>Visión</h3>
                                <p>Nuestra visión es llegar a ser la empresa constructora inmobiliaria líder, capáz de construir y/o desarrollar espacios confortables que satisfagan las necesidades de nuestros clientes.</p>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <h3>Valores</h3>
                                <ul>
                                    <li>Responsabilidad</li>
                                    <li>Innovacion</li>
                                    <li>Calidad</li>
                                    <li>Honestidad</li>
                                    <li>Orientacion al servicio</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5"><img style="width: 100%;height: 100%;" src="/assets/img/brand.png?h=b5b92283e8806b1aec83c92998ca5681"></div>
            </div>
        </div><!-- End: 1 Row 2 Columns -->
        <!-- Start: Team Boxed -->
        <section class="text-center team-boxed">
            <div class="container py-5">
                <div>
                    <h2 class="section-title">Equipo</h2>
                    <p class="m-auto" style="max-width: 500px;">Somos una empresa familiar con amplia experiencia en bienes raíces. Conoce parte de nuestro equipo:</p>
                </div><!-- Start: People -->
                <div class="row mt-5" data-aos="zoom-in" data-aos-duration="1000">
                    <div class="col my-2" data-bss-hover-animate="pulse">
                        <div class="bg-white p-4"><img class="rounded-circle" src="/assets/img/team/luis_alejandro_romano.jpg">
                            <h3 class="mt-4 fw-bold"><strong>Luis Romano</strong><br></h3><span class="text-uppercase title fw-bold">ENCARGADO DE OBRAS</span>
                            <div class="social my-2"><a class="text-decoration-none" href="mailto:ingluisromano@gmail.com"><i class="material-icons d-block">mail_outline</i>ingluisromano@gmail.com</a></div>
                        </div>
                    </div>
                    <div class="col my-2" data-bss-hover-animate="pulse">
                        <div class="bg-white p-4"><img class="rounded-circle" src="/assets/img/team/maria_alejandra.png">
                            <h3 class="mt-4 fw-bold"><strong>María Romano</strong></h3><span class="text-uppercase title fw-bold">ENCARGADA DE VENTAS</span>
                            <div class="social my-2"><a class="text-decoration-none" href="mailto:maria.romano.salas@gmail.com"><i class="material-icons d-block">mail_outline</i>maria.romano.salas@gmail.com</a></div>
                        </div>
                    </div>
                    <div class="col my-2" data-bss-hover-animate="pulse">
                        <div class="bg-white p-4"><img class="rounded-circle" src="/assets/img/team/xiomara_salas.jpg">
                            <h3 class="mt-4 fw-bold"><strong>Xiomara Salas</strong><br></h3><span class="text-uppercase title fw-bold">GERENTE GENERAL </span>
                            <div class="social my-2"><a class="text-decoration-none" href="mailto:xiomara.salas@gmail.com"><i class="material-icons d-block">mail_outline</i>xiomara.salas@gmail.com</a></div>
                        </div>
                    </div>
                </div><!-- End: People -->
            </div>
        </section><!-- End: Team Boxed -->
    </main>
    <footer>{#include common/includes/footer/}</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/bs-init.js?h=7265b1488dcf69b8a52816ef73c57595"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>

</html>