<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>contact</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/about.css">
    <link rel="stylesheet" href="assets/css/footer.css">
    <link rel="stylesheet" href="assets/css/generic/cards.css">
    <link rel="stylesheet" href="assets/css/generic/fields.css">
    <link rel="stylesheet" href="assets/css/generic/general.css">
    <link rel="stylesheet" href="assets/css/generic/highlight.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="assets/css/login.css">
    <link rel="stylesheet" href="assets/css/navbar.css">
    <link rel="stylesheet" href="assets/css/scss/custom-colors.compiled.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        {#include navbar}ERROR{/}
    </header>
    <main>
        <section class="highlight">
            <div class="container">
                <h2>Nosotros</h2>
                <p>Somos una empresa constructora e inmobiliaria con más de 10 años de experiencia en el mundo de bienes
                    raíces, pero lo que más nos destaca es la dedicación y apoyo que le brindamos a cada uno de nuestros
                    clientes. A través de los años hemos expandido nuestro catálogo con propiedades e inmuebles que
                    están tanto a la venta cómo en alquiler.&nbsp;No importa si lo que buscas es un apartamento o un
                    módulo de oficina, nosotros lo tenemos.<br></p>
            </div>
        </section>
        <div class="container my-5">
            <div class="row">
                <div class="col-md-7">
                    <div class="row row-cols-1 gap-3" x="">
                        <div class="col">
                            <div>
                                <h3>Mision</h3>
                                <p>Nuestra misión es atender satisfactoriamente las necesidades inmobiliarias de
                                    nuestros clientes.<br></p>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <h3>Vision</h3>
                                <p>Nuestra visión es llegar a ser la empresa constructora inmobiliaria líder, capáz de
                                    construir y/o desarrollar espacios confortables que satisfagan las necesidades de
                                    nuestros clientes.</p>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <h3>Valores</h3>
                                <ul>
                                    <li>Responsabilidad</li>
                                    <li>Innovacion</li>
                                    <li>Calidad</li>
                                    <li>Honestidad</li>
                                    <li>Orientacion al servicio</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5"><img style="width: 100%;height: 100%;" src="assets/img/brand.png"></div>
            </div>
        </div>
        <section class="text-center team-boxed">
            <div class="container">
                <div class="intro">
                    <h2 class="section-title">Equipo</h2>
                    <p>Somos una empresa familiar con amplia experiencia en bienes raíces. Conoce parte de nuestro
                        equipo:</p>
                </div>
                <div class="row people" data-aos="zoom-in" data-aos-duration="1000">
                    <div class="col item" data-bss-hover-animate="pulse">
                        <div class="box"><img class="rounded-circle"
                                src="assets/img/team/Luis%20Alejandro%20Romano.jpg">
                            <h3 class="name"><strong>Luis Romano</strong><br></h3>
                            <p class="title"><strong>Encargado de Obras</strong><br></p>
                            <div class="social"><a class="text-decoration-none" href="#"><i
                                        class="material-icons d-block">mail_outline</i>ingluisromano@gmail.com</a></div>
                        </div>
                    </div>
                    <div class="col item" data-bss-hover-animate="pulse">
                        <div class="box"><img class="rounded-circle" src="assets/img/team/Maria%20Alejandra.png">
                            <h3 class="name"><strong>María Romano</strong></h3>
                            <p class="title"><strong>Encargada de ventas</strong><br></p>
                            <div class="social"><a class="text-decoration-none" href="#"><i
                                        class="material-icons d-block">mail_outline</i>Maria.romano.salas@gmail.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="col item" data-bss-hover-animate="pulse">
                        <div class="box"><img class="rounded-circle" src="assets/img/team/Xiomara%20Salas.jpg">
                            <h3 class="name"><strong>Xiomara Salas</strong><br></h3>
                            <p class="title"><strong>Gerente General&nbsp;</strong></p>
                            <div class="social"><a class="text-decoration-none" href="#"><i
                                        class="material-icons d-block">mail_outline</i>xiomara.salas@gmail.com</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer></footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="assets/js/formatter/currency.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="assets/js/moving-letters.js"></script>
</body>

</html>