<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>main</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/contact.css?h=4f713701a6cfcc9d5d5b2770e610078c">
    <link rel="stylesheet" href="assets/css/footer.css?h=e9b0850f22ad51fa74cf747a2998f8eb">
    <link rel="stylesheet" href="assets/css/generic/cards.css?h=c1366984cb203dab7a99a26489902cee">
    <link rel="stylesheet" href="assets/css/generic/fields.css?h=a3fd52f6785712ad3201dc899f0c34be">
    <link rel="stylesheet" href="assets/css/generic/general.css?h=44dcaaed3318fe53593506dc316bb184">
    <link rel="stylesheet" href="assets/css/generic/highlight.css?h=de10cb38c5475825bbac2117f770edd0">
    <link rel="stylesheet" href="assets/css/navbar.css?h=577b20b93b5424a25761882d234f6cc4">
    <link rel="stylesheet" href="assets/css/scss/custom-colors.compiled.css?h=c56b082155acdada91dfdcb9dcf23b85">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
</head>

<body>
    <header>{#include navbar/}</header>
    <main>
        <section class="highlight">
            <div class="container">
                <h2>Contáctanos<br></h2>
                <p>No pierdas la oportunidad. Te estamos esperando.<br></p>
            </div>
        </section>
        <div class="wrapper">
            <div class="container-fluid border rounded-0 shadow contact-form">
                <form class="p-5" method="post" action="/contact">
                    <div class="row row-cols-1 row-cols-md-2">
                        <div class="col">
                            <div class="row row-cols-1 gap-4">
                                <div class="col">
                                    <div class="form-floating input-data"><input type="text" class="form-control" id="name" name="name" placeholder="Nombre" /><label class="form-label" for="name">Nombre</label></div>
                                </div>
                                <div class="col">
                                    <div class="form-floating input-data"><input type="tel" class="form-control" id="telephone" placeholder="Número telefónico" name="telephone" /><label class="form-label" for="telephone">Número telefónico</label></div>
                                </div>
                                <div class="col">
                                    <div class="form-floating input-data"><input type="email" class="form-control" id="email" name="email" placeholder="Correo electrónico" /><label class="form-label" for="email">Correo electrónico</label></div>
                                </div>
                            </div>
                        </div>
                        <div class="col mt-4 mt-md-0"><textarea class="form-control" placeholder="Mensaje" style="height: 92%;" rows="5" name="message"></textarea>
                            <hr />
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-2 mt-3">
                        <div class="col"></div>
                        <div class="col"><button class="btn btn-primary btn-lg" type="submit" style="width: 100%;">Enviar mensaje</button></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="container mt-5 mb-4">
            <section>
                <h2 class="section-title">Información de contacto<br><br></h2>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 locations gy-4">
                    <div class="col">
                        <div class="border rounded-0 shadow-sm d-inline-block p-4 w-100">
                            <h5>Santiago de los Caballeros</h5>
                            <p style="font-weight: bold;"><strong>C/ Parada Vieja, Res. María Alejandra I 2do Nivel</strong><br></p><span class="fw-bold"><strong>(809) 820 - 0897</strong><br></span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section><iframe allowfullscreen="" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDmO0JHOHAXY2C3Ud49KbMSwFf3APep1Ow&amp;q=Paris%2C+France&amp;zoom=11" id="map" width="100%" height="400"></iframe></section>
    </main>
    <footer>{#include footer/}</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/contact.js?h=d41d8cd98f00b204e9800998ecf8427e"></script>
    <script src="assets/js/formatter/currency.js?h=c473d08532b05fe5816ebe43c24db8a0"></script>
</body>

</html>