<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Romsal, SRL</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" href="/assets/css/custom-colors.compiled.css?h=c56b082155acdada91dfdcb9dcf23b85">
    <link rel="stylesheet" href="/assets/css/generic/cards.css?h=1c3e401e4421d22b1619648447ba6a51">
    <link rel="stylesheet" href="/assets/css/generic/fields.css?h=a3fd52f6785712ad3201dc899f0c34be">
    <link rel="stylesheet" href="/assets/css/generic/general.css?h=a7957f698ea1f4e9b33d41f9c0b2e442">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=ABeeZee&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/index.css?h=7fa8e30a42767fa6ed190122908b0680">
</head>

<body>
    <header>{#include navbar/}</header>
    <main>
        <div class="card slider overflow-hidden border-0">
            <div class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-pause="false" data-bs-keyboard="false" id="carousel-1">
                <div class="carousel-inner">
                    <div class="carousel-item active"><img class="w-100 d-block" src="/assets/img/slider/1.jpg?h=a274f1de840f3e792ed57f5308b992ec" alt="Slide Image"></div>
                    <div class="carousel-item"><img class="w-100 d-block" src="/assets/img/slider/2.jpg?h=bc3c7017bfffb4fe391f3113e83cb031" alt="Slide Image"></div>
                    <div class="carousel-item"><img class="w-100 d-block" src="/assets/img/slider/3.jpg?h=c246b393697337d0b39c649e4c9d201f" alt="Slide Image"></div>
                    <div class="carousel-item"><img class="w-100 d-block" src="/assets/img/slider/4.jpg?h=19754de6ce93c6ba0e6dd123a278dd31" alt="Slide Image"></div>
                    <div class="carousel-item"><img class="w-100 d-block" src="/assets/img/slider/5.jpg?h=285358419a670a96c233041893de6bf6" alt="Slide Image"></div>
                </div>
                <div class="visually-hidden">
                    <!-- Start: Previous --><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><!-- End: Previous -->
                    <!-- Start: Next --><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a><!-- End: Next -->
                </div>
            </div>
            <div class="card-img-overlay font-monospace text-center text-white d-flex flex-column justify-content-center align-items-center">
                <h4 class="text-uppercase text-primary fw-bold" style="filter: brightness(200%);">Bienvenidos a ROMSAL<br></h4>
                <h1 class="ml15"><span class="word">Comprometidos a guiarte en cada momento<br></span><span class="word">¡Bienvenido!</span></h1>
            </div>
            <div id="triangle" class="position-absolute bottom-0"></div>
        </div>
        <div class="container">
            <section class="my-5">
                <div class="text-center mb-4">
                    <h2 class="section-title">Proyectos</h2>
                    <p>No importa si estás buscando alquilar o comprar, nosotros tenemos el inmueble que estás buscando</p>
                </div>
                <div id="carousels">
                    <div class="carousel slide carousel-dark d-none d-lg-flex justify-content-center px-5" data-bs-ride="carousel" id="carousel-lg">
                        <div class="carousel-inner">
                            {#for property in map.properties}
                            {#if index.mod(3) eq 0}
                            <div class="carousel-item {#if count eq 1}active{/if}">
                                <div class="card-group gap-4">
                                    {/if}
                                    {#include includes/card/}
                                    {#if !hasNext}
                                    {#for i in utils:diff(3,map.properties.size.mod(3))}
                                    {#include includes/card-empty/}
                                    {/for}
                                    {/if}
                                    {#if count.mod(3) eq 0 || hasNext is false}
                                </div>
                            </div>
                            {/if}
                            {/for}
                        </div>
                        <div>
                            <!-- Start: Previous --><a class="carousel-control-prev justify-content-start w-auto" href="#carousel-lg" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle"></span><span class="visually-hidden">Previous</span></a><!-- End: Previous -->
                            <!-- Start: Next --><a class="carousel-control-next w-auto" href="#carousel-lg" role="button" data-bs-slide="next"><span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"></span><span class="visually-hidden">Next</span></a><!-- End: Next -->
                        </div>
                    </div>
                    <div class="carousel slide carousel-dark d-none d-md-flex d-lg-none justify-content-center px-5" data-bs-ride="carousel" id="carousel-md">
                        <div class="carousel-inner">
                            {#for property in map.properties}
                            {#if index.mod(2) eq 0}
                            <div class="carousel-item {#if count eq 1}active{/if}">
                                <div class="card-group gap-4">
                                    {/if}
                                    {#include includes/card/}
                                    {#if !hasNext}{#include includes/card-empty/}{/if}
                                    {#if count.mod(2) eq 0 || hasNext is false}
                                </div>
                            </div>
                            {/if}
                            {/for}
                        </div>
                        <div>
                            <!-- Start: Previous --><a class="carousel-control-prev justify-content-start w-auto" href="#carousel-md" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle"></span><span class="visually-hidden">Previous</span></a><!-- End: Previous -->
                            <!-- Start: Next --><a class="carousel-control-next w-auto" href="#carousel-md" role="button" data-bs-slide="next"><span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"></span><span class="visually-hidden">Next</span></a><!-- End: Next -->
                        </div>
                    </div>
                    <div class="carousel slide carousel-dark d-sm-flex d-md-none justify-content-center px-5" data-bs-ride="carousel" id="carousel-sm">
                        <div class="carousel-inner">
                            {#for property in map.properties}
                            <div class="carousel-item {#if count eq 1}active{/if}">
                                <div class="card-group gap-4">
                                    {#include includes/card.html/}
                                </div>
                            </div>
                            {/for}
                        </div>
                        <div>
                            <!-- Start: Previous --><a class="carousel-control-prev justify-content-start w-auto" href="#carousel-sm" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle"></span><span class="visually-hidden">Previous</span></a><!-- End: Previous -->
                            <!-- Start: Next --><a class="carousel-control-next w-auto" href="#carousel-sm" role="button" data-bs-slide="next"><span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"></span><span class="visually-hidden">Next</span></a><!-- End: Next -->
                        </div>
                    </div>
                </div>
            </section>
            <section class="text-center my-5">
                <div class="mb-4">
                    <h2 class="section-title">Servicios</h2>
                </div>
                <div class="row row-cols-1 row-cols-md-3" data-aos="flip-up">
                    <div class="col"><span class="fa-stack fa-3x mb-3"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fas fa-percentage fa-stack-1x fa-inverse"></i> </span>
                        <h4>Renta de propiedades</h4>
                        <p class="text-muted">Desde apartamentos, módulos de oficinas a almacenes, con nosotros puedes encontrar el espacio adecuado para ti o tu empresa<br></p>
                    </div>
                    <div class="col"><span class="fa-stack fa-3x mb-3"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fas fa-hard-hat fa-stack-1x fa-inverse"></i> </span>
                        <h4>Construcción<br></h4>
                        <p class="text-muted">Nuestro equipo de profesionales en el área de construcción se dedica a la construcción de inmuebles comerciales y viviendas con los más altos estándares de calidad<br></p>
                    </div>
                    <div class="col"><span class="fa-stack fa-3x mb-3"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fas fa-dollar-sign fa-stack-1x fa-inverse"></i> </span>
                        <h4>Venta de propiedades</h4>
                        <p class="text-muted">Si estas buscando invertir en bienes raíces o buscas un inmueble para ti y tu familia, nuestras propiedades a la venta serán tu mejor opción<br></p>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer>{#include footer/}</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/bs-init.js?h=7265b1488dcf69b8a52816ef73c57595"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="/assets/js/home.js?h=a66b9894389f793924b7300a29226eca"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="/assets/js/moving-letters.js?h=456321e0776af8b865cae6ae4d5d2ae5"></script>
</body>

</html>