<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>main</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css?h=28fcdefe8a87593f1f43b7d9951e0cba">
    <link rel="stylesheet" href="/assets/css/footer.css?h=e9b0850f22ad51fa74cf747a2998f8eb">
    <link rel="stylesheet" href="/assets/css/generic/cards.css?h=79e031c7500cf56655017d8aec0a455f">
    <link rel="stylesheet" href="/assets/css/generic/fields.css?h=a3fd52f6785712ad3201dc899f0c34be">
    <link rel="stylesheet" href="/assets/css/generic/general.css?h=44dcaaed3318fe53593506dc316bb184">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="/assets/css/index.css?h=65ff0b3e926fa1cebdf9a5f4b113a453">
    <link rel="stylesheet" href="/assets/css/navbar.css?h=577b20b93b5424a25761882d234f6cc4">
    <link rel="stylesheet" href="/assets/css/scss/custom-colors.compiled.css?h=c56b082155acdada91dfdcb9dcf23b85">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
</head>

<body>
    <header>{#include navbar/}</header>
    <main>
        <div class="card slider overflow-hidden border-0">
            <div class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-pause="false" data-bs-keyboard="false" id="carousel-1">
                <div class="carousel-inner">
                    <div class="carousel-item active"><img class="w-100 d-block" src="/assets/img/slider/1.jpg?h=a274f1de840f3e792ed57f5308b992ec" alt="Slide Image"></div>
                    <div class="carousel-item"><img class="w-100 d-block" src="/assets/img/slider/2.jpg?h=bc3c7017bfffb4fe391f3113e83cb031" alt="Slide Image"></div>
                    <div class="carousel-item"><img class="w-100 d-block" src="/assets/img/slider/3.jpg?h=c246b393697337d0b39c649e4c9d201f" alt="Slide Image"></div>
                    <div class="carousel-item"><img class="w-100 d-block" src="/assets/img/slider/4.jpg?h=19754de6ce93c6ba0e6dd123a278dd31" alt="Slide Image"></div>
                    <div class="carousel-item"><img class="w-100 d-block" src="/assets/img/slider/5.jpg?h=285358419a670a96c233041893de6bf6" alt="Slide Image"></div>
                </div>
                <div class="visually-hidden"><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
            </div>
            <div class="card-img-overlay font-monospace text-center text-white d-flex flex-column justify-content-center align-items-center">
                <h4 class="text-uppercase text-primary fw-bold" style="filter: brightness(200%);">Bienvenidos a ROMSAL<br></h4>
                <h1 class="ml15"><span class="word">Comprometidos a guiarte en cada momento<br></span><span class="word">¡Bienvenido!</span></h1>
            </div>
            <div id="triangle" class="position-absolute bottom-0"></div>
        </div>
        <div class="container text-center">
            <section class="my-5">
                <div class="mb-4">
                    <h2 class="section-title">Proyectos</h2>
                    <p>No importa si estás buscando alquilar o comprar, nosotros tenemos el inmueble que estás buscando</p>
                </div>
                <div id="carousels">
                    <div class="carousel slide carousel-dark d-none d-lg-flex justify-content-center px-5" data-bs-ride="carousel" id="carousel-lg">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card-group gap-4">
                                    <div class="card border rounded-0 card-property">
                                        <div class="card textwhite text-white overflow-hidden">
                                            <div class="row card-img-overlay">
                                                <div class="col card-outstanding"><span class="text-center featured">Destacado</span></div>
                                                <div class="col">
                                                    <div class="float-end px-2 py-1 card-category-wrapper"><span class="card-category">Venta / Alquiler</span></div>
                                                </div>
                                            </div><img class="card-img w-100 d-block" src="https://images.adsttc.com/media/images/5d34/e507/284d/d109/5600/0240/newsletter/_FI.jpg?1563747560">
                                            <div class="card-img-overlay d-flex flex-column justify-content-end p-0">
                                                <div class="description-wrapper">
                                                    <div class="text-start m-3">
                                                        <h6 class="fw-bold card-price">US$1</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body"><a class="card-link stretched-link" href="info.html"></a>
                                            <h4 class="card-title">Nombre<i class="far fa-window-restore float-end text-primary"></i></h4>
                                            <p class="text-muted card-text card-description">. . .</p>
                                        </div>
                                    </div>
                                    <div class="card border rounded-0 card-comming">
                                        <div class="card textwhite text-white overflow-hidden"><img class="card-img w-100 d-block" src="/assets/img/construction.jpg?h=cc452b4115ab7c976395bd1d4181c772"></div>
                                        <div class="card-body"><a class="card-link stretched-link" href="info.html"></a>
                                            <h4 class="card-title">¡Proximamente!</h4>
                                        </div>
                                    </div>
                                    <div class="card border rounded-0 card-comming">
                                        <div class="card textwhite text-white overflow-hidden"><img class="card-img w-100 d-block" src="/assets/img/construction.jpg?h=cc452b4115ab7c976395bd1d4181c772"></div>
                                        <div class="card-body"><a class="card-link stretched-link" href="info.html"></a>
                                            <h4 class="card-title">¡Proximamente!</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div><a class="carousel-control-prev justify-content-start w-auto" href="#carousel-lg" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next w-auto" href="#carousel-lg" role="button" data-bs-slide="next"><span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"></span><span class="visually-hidden">Next</span></a></div>
                    </div>
                    <div class="carousel slide carousel-dark d-none d-md-flex d-lg-none justify-content-center px-5" data-bs-ride="carousel" id="carousel-md">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card-group gap-4">
                                    <div class="card border rounded-0 card-property">
                                        <div class="card textwhite text-white overflow-hidden">
                                            <div class="row card-img-overlay">
                                                <div class="col card-outstanding"><span class="text-center featured">Destacado</span></div>
                                                <div class="col">
                                                    <div class="float-end px-2 py-1 card-category-wrapper"><span class="card-category">Venta / Alquiler</span></div>
                                                </div>
                                            </div><img class="card-img w-100 d-block" src="https://images.adsttc.com/media/images/5d34/e507/284d/d109/5600/0240/newsletter/_FI.jpg?1563747560">
                                            <div class="card-img-overlay d-flex flex-column justify-content-end p-0">
                                                <div class="description-wrapper">
                                                    <div class="text-start m-3">
                                                        <h6 class="fw-bold card-price">US$1</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body"><a class="card-link stretched-link" href="info.html"></a>
                                            <h4 class="card-title">Nombre<i class="far fa-window-restore float-end text-primary"></i></h4>
                                            <p class="text-muted card-text card-description">. . .</p>
                                        </div>
                                    </div>
                                    <div class="card border rounded-0 card-comming">
                                        <div class="card textwhite text-white overflow-hidden"><img class="card-img w-100 d-block" src="/assets/img/construction.jpg?h=cc452b4115ab7c976395bd1d4181c772"></div>
                                        <div class="card-body"><a class="card-link stretched-link" href="info.html"></a>
                                            <h4 class="card-title">¡Proximamente!</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div><a class="carousel-control-prev justify-content-start w-auto" href="#carousel-md" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next w-auto" href="#carousel-md" role="button" data-bs-slide="next"><span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"></span><span class="visually-hidden">Next</span></a></div>
                    </div>
                    <div class="carousel slide carousel-dark d-sm-flex d-md-none justify-content-center px-5" data-bs-ride="carousel" id="carousel-sm">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card-group gap-4">
                                    <div class="card border rounded-0 card-property">
                                        <div class="card textwhite text-white overflow-hidden">
                                            <div class="row card-img-overlay">
                                                <div class="col card-outstanding"><span class="text-center featured">Destacado</span></div>
                                                <div class="col">
                                                    <div class="float-end px-2 py-1 card-category-wrapper"><span class="card-category">Venta / Alquiler</span></div>
                                                </div>
                                            </div><img class="card-img w-100 d-block" src="https://images.adsttc.com/media/images/5d34/e507/284d/d109/5600/0240/newsletter/_FI.jpg?1563747560">
                                            <div class="card-img-overlay d-flex flex-column justify-content-end p-0">
                                                <div class="description-wrapper">
                                                    <div class="text-start m-3">
                                                        <h6 class="fw-bold card-price">US$1</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body"><a class="card-link stretched-link" href="info.html"></a>
                                            <h4 class="card-title">Nombre<i class="far fa-window-restore float-end text-primary"></i></h4>
                                            <p class="text-muted card-text card-description">. . .</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div><a class="carousel-control-prev justify-content-start w-auto" href="#carousel-sm" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next w-auto" href="#carousel-sm" role="button" data-bs-slide="next"><span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"></span><span class="visually-hidden">Next</span></a></div>
                    </div>
                </div>
            </section>
            <section class="my-5">
                <div class="mb-4">
                    <h2 class="section-title">Servicios</h2>
                </div>
                <div class="row row-cols-1 row-cols-md-3" data-aos="flip-up">
                    <div class="col"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fas fa-percentage fa-stack-1x fa-inverse"></i> </span>
                        <h4>Renta de propiedades</h4>
                        <p class="text-muted">Desde apartamentos, módulos de oficinas a almacenes, con nosotros puedes encontrar el espacio adecuado para ti o tu empresa<br></p>
                    </div>
                    <div class="col"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fas fa-hard-hat fa-stack-1x fa-inverse"></i> </span>
                        <h4>Construcción<br></h4>
                        <p class="text-muted">Nuestro equipo de profesionales en el área de construcción se dedica a la construcción de inmuebles comerciales y viviendas con los más altos estándares de calidad<br></p>
                    </div>
                    <div class="col"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fas fa-dollar-sign fa-stack-1x fa-inverse"></i> </span>
                        <h4>Venta de propiedades</h4>
                        <p class="text-muted">Si estas buscando invertir en bienes raíces o buscas un inmueble para ti y tu familia, nuestras propiedades a la venta serán tu mejor opción<br></p>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer>{#include footer/}</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/bs-init.js?h=02a8f8d0119ea38ce4670281c1438789"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="/assets/js/formatter/currency.js?h=c473d08532b05fe5816ebe43c24db8a0"></script>
    <script src="/assets/js/home.js?h=1fad2a03719902f45748a6306c2dcbce"></script>
    <script src="/assets/js/moving-letters.js?h=456321e0776af8b865cae6ae4d5d2ae5"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
</body>

</html>