<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Romsal, SRL</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" href="/assets/css/custom-colors.compiled.css?h=c56b082155acdada91dfdcb9dcf23b85">
    <link rel="stylesheet" href="/assets/css/generic/cards.css?h=1c3e401e4421d22b1619648447ba6a51">
    <link rel="stylesheet" href="/assets/css/generic/fields.css?h=a3fd52f6785712ad3201dc899f0c34be">
    <link rel="stylesheet" href="/assets/css/generic/general.css?h=a7957f698ea1f4e9b33d41f9c0b2e442">
    <link rel="stylesheet" href="/assets/css/generic/highlight.css?h=de10cb38c5475825bbac2117f770edd0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=ABeeZee&amp;display=swap">
</head>

<body>
    <header>{#include navbar/}</header>
    <main>
        <section class="highlight">
            <div class="container">
                <h2>Propiedades</h2>
                <p>Busca localizaciones a precios atractivos en lugares ideales<br></p>
            </div>
        </section><!-- Start: Sidebar -->
        <div class="container my-5">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-auto ms-auto">
                            <div class="dropdown"><a class="btn dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" role="button">Orden por defecto</a>
                                <div class="dropdown-menu"><a class="dropdown-item" href="#">Orden por defecto</a></div>
                            </div>
                        </div>
                    </div>
                    {#if map.properties.isEmpty}
                    <section class="bg-light p-4">
                        <h5>¡Estamos trabajando! </h5>
                        <p>En estos momentos no tenemos inmuebles disponibles para esa búsqueda. Favor intentar de nuevo. <br></p>
                    </section>
                    {#else}
                    <section>
                        <ul class="list-group gap-4 mt-4" id="list">
                            {#for property in map.properties}
                            <li class="list-group-item shadow p-0 card-property">
                                <div class="card-group d-inline d-lg-flex">
                                    <div class="card textwhite text-white m-0 overflow-hidden"><a class="stretched-link" href="/property/info?id={property.id}"></a>
                                        <div class="carousel slide" data-bs-ride="carousel" id="carousel-{count}">
                                            <div class="carousel-inner">
                                                {#if property.medias.isEmpty}
                                                <div class="carousel-item active"><img class="w-100 d-block" alt="Slide Image" src="/assets/img/no-media.jpg?h=9786fe98a947dad2fb12fdd8d457ac40"></div>
                                                {#else}
                                                {#for media in property.medias}
                                                <div class="carousel-item {#if count eq 1}active{/if}"><img class="w-100 d-block" alt="Slide Image" src="/storage/property/{property.id}/{media.name}"></div>
                                                {/for}
                                                {/if}
                                            </div>
                                            <div>
                                                <!-- Start: Previous --><a class="carousel-control-prev" href="#carousel-{count}" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><!-- End: Previous -->
                                                <!-- Start: Next --><a class="carousel-control-next" href="#carousel-{count}" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a><!-- End: Next -->
                                            </div>
                                        </div>
                                        <div class="row text-center card-img-overlay">
                                            {#if property.outstanding}
                                            <div class="col card-outstanding"><span class="bg-secondary position-absolute featured">Destacado</span></div>
                                            {/if}
                                            <div class="col-auto">
                                                <small class="d-block px-2 py-1 card-category" style="background: rgb(47,79,79,0.8);font-size: 12px;">
                                                    {#if property.category.type.name is 'SELL'}En venta{#else if property.category.type.name is 'RENT'}En alquiler{/if}
                                                </small>
                                            </div>
                                        </div>
                                        <div class="card-img-overlay d-flex flex-column justify-content-end p-0">
                                            <div class="description-wrapper">
                                                <div class="text-start m-3">
                                                    <h6 class="fw-bold card-price">{property.currency.type.code}${property.price}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card m-0">
                                        <div class="card-body">
                                            <h4 class="card-title"><a class="link-dark text-decoration-none" href="/property/info?id={property.id}">{property.name}</a></h4>
                                            <div class="d-flex"><i class="material-icons pe-2">location_on</i><span>{property.address}</span></div>
                                            <p class="card-text mt-2 pe-4 overflow-auto card-description" style="max-height: 120px">{property.description}</p>
                                        </div>
                                        <div class="card-footer">
                                            <ul class="list-group list-group-horizontal text-nowrap text-center d-flex">
                                                {#for thing in property.attributes}
                                                {#if thing.attribute.type.name is 'ROOM'}
                                                <li class="list-group-item border-0 p-2 bg-transparent"><i class="fas fa-bed p-2" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="bottom" title="Habitaciones"></i><span>{thing.amount}</span></li>
                                                {#else if thing.attribute.type.name is 'BATH'}
                                                <li class="list-group-item border-0 p-2 bg-transparent"><i class="fas fa-bath p-2" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="bottom" title="Baños"></i><span>{thing.amount}</span></li>
                                                {#else if thing.attribute.type.name is 'PARKING'}
                                                <li class="list-group-item border-0 p-2 bg-transparent"><i class="fas fa-car-alt p-2" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="bottom" title="Parqueos"></i><span>{thing.amount}</span></li>
                                                {#else if thing.attribute.type.name is 'AREA'}
                                                <li class="list-group-item text-truncate border-0 p-2 bg-transparent"><i class="fas fa-ruler-combined p-2" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="bottom" title="Área"></i><span>{thing.amount} m²</span></li>
                                                {/if}
                                                {/for}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {/for}
                        </ul>
                        <nav class="m-5">
                            <ul class="pagination justify-content-center">
                                <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                            </ul>
                        </nav>
                    </section>
                    {/if}
                </div>
                <div class="col-md-4">
                    <h5 class="d-flex my-4">Filtros de búsqueda<button class="btn btn-sm link-danger shadow-none ms-auto p-0 border-0" id="clean" type="reset" style="font-size: 10px;">Limpiar filtros</button></h5>
                    <form>
                        <div class="row gy-3">
                            <div class="col-12">
                                <div class="input-group"><input class="form-control custom-floating" type="text" id="address" placeholder="Sector o dirección" name="address"><span class="input-group-text bg-white"><i class="material-icons">my_location</i></span></div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating"><select class="form-select" id="type" name="type">
                                        <option value="ANY" selected="">Cualquiera</option>
                                        <option value="HOUSE">Casas</option>
                                        <option value="BUILDING">Edificio</option>
                                    </select><label class="form-label" for="type">Tipo de inmobiliario</label></div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-floating"><input class="form-control" type="number" id="room" placeholder="Habitaciones" name="room" max="100" min="0"><label class="form-label" for="room">Habitaciones</label></div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-floating"><input class="form-control" type="number" id="bath" placeholder="Baños" name="bath" min="0" max="100"><label class="form-label" for="bath">Baños</label></div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating"><select class="form-select" id="category" name="category">
                                        <option value="ANY">Venta / Alquiler</option>
                                        <option value="SELL">Venta</option>
                                        <option value="RENT">Alquiler</option>
                                    </select><label class="form-label" for="category">Propiedades en:</label></div>
                            </div>
                            <div class="col-12">
                                <div class="mx-1">
                                    <div class="row">
                                        <div class="col align-self-center"><span class="flex-fill">Rango de precio:</span></div>
                                        <div class="col-auto align-self-center"><input type="radio" id="currency-usd" class="btn-check" name="currency" checked="" value="USD"><label class="form-label btn btn-sm btn-outline-primary" for="currency-usd">USD</label><input type="radio" id="currency-dop" class="btn-check" name="currency" value="DOP"><label class="form-label btn btn-sm btn-outline-primary" for="currency-dop">DOP</label></div>
                                    </div><input class="form-control" type="hidden" id="price-min" name="price-min" value="0"><input class="form-control" type="hidden" id="price-max" name="price-max" value="100000">
                                    <div rates="57.5" id="slider-range" class="mx-3 my-1"></div><small class="text-center d-block" id="amount">USD$ - USD$</small>
                                </div>
                            </div>
                            <div class="col-12 my-4"><button class="btn btn-primary btn-lg w-100" type="submit">Buscar inmuebles</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- End: Sidebar -->
    </main>
    <footer>{#include footer/}</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/bs-init.js?h=7265b1488dcf69b8a52816ef73c57595"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="/assets/js/search.js?h=2e2bd9ffc4503e0628b258d9e50787e0"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
</body>

</html>