<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Romsal, SRL</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" href="/assets/css/custom-colors.compiled.css?h=c56b082155acdada91dfdcb9dcf23b85">
    <link rel="stylesheet" href="/assets/css/generic/cards.css?h=1c3e401e4421d22b1619648447ba6a51">
    <link rel="stylesheet" href="/assets/css/generic/fields.css?h=a3fd52f6785712ad3201dc899f0c34be">
    <link rel="stylesheet" href="/assets/css/generic/general.css?h=a7957f698ea1f4e9b33d41f9c0b2e442">
    <link rel="stylesheet" href="/assets/css/generic/highlight.css?h=de10cb38c5475825bbac2117f770edd0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=ABeeZee&amp;display=swap">
</head>

<body>
    <header>{#include navbar/}</header>
    <main>
        <section class="highlight">
            <div class="container">
                <h2>Propiedades</h2>
                <p>Busca localizaciones a precios atractivos en lugares ideales<br></p>
            </div>
        </section><!-- Start: Sidebar -->
        <div class="container my-5">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-auto ms-auto">
                            <div class="dropdown"><a class="btn dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" role="button">Orden por defecto</a>
                                <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group gap-4 mt-4" id="list">
                        {#for property in map.properties}
                        <li class="list-group-item shadow p-0 card-property">
                            <div class="card-group d-inline d-lg-flex">
                                <div class="card textwhite text-white m-0 overflow-hidden">
                                    <div class="carousel slide" data-bs-ride="carousel" id="carousel-{count}">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active"><img class="w-100 d-block" alt="Slide Image"></div>
                                        </div>
                                        <div>
                                            <!-- Start: Previous --><a class="carousel-control-prev" href="#carousel-{count}" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><!-- End: Previous -->
                                            <!-- Start: Next --><a class="carousel-control-next" href="#carousel-{count}" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a><!-- End: Next -->
                                        </div>
                                    </div>
                                    <div class="row text-center card-img-overlay">
                                        {#if property.outstanding}
                                        <div class="col card-outstanding"><span class="bg-secondary position-absolute featured">Destacado</span></div>
                                        {/if}
                                        <div class="col-auto">
                                            <small class="d-block px-2 py-1 card-category" style="background: rgb(47,79,79,0.8);font-size: 12px;">{#if property.category.type.name is 'SELL'}En venta{#else if property.category.type.name is 'RENt'}En alquiler{/if}</small>
                                        </div>
                                    </div>
                                    <div class="card-img-overlay d-flex flex-column justify-content-end p-0">
                                        <div class="description-wrapper">
                                            <div class="text-start m-3">
                                                <h6 class="fw-bold card-price">USD${property.price}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card m-0">
                                    <div class="card-body">
                                        <h4 class="card-title">{property.name}</h4>
                                        <div class="d-flex"><i class="material-icons pe-2">location_on</i><span>{property.address}</span></div>
                                        <p class="card-text mt-2 pe-4 overflow-auto card-description" style="max-height: 120px;margin-bottom: 0;">{property.description}</p>
                                    </div>
                                    <div class="card-footer">
                                        <ul class="list-group list-group-horizontal text-nowrap text-center d-flex">
                                            {#for thing in property.attributes}
                                            {#if thing.attribute.type.name is 'ROOM'}
                                            <li class="list-group-item border-0 p-2 bg-transparent"><i class="fas fa-bed p-2"></i><span>{thing.amount}</span></li>
                                            {#else if thing.attribute.type.name is 'BATH'}
                                            <li class="list-group-item border-0 p-2 bg-transparent"><i class="fas fa-bath p-2"></i><span>{thing.amount}</span></li>
                                            {#else if thing.attribute.type.name is 'PARKING'}
                                            <li class="list-group-item border-0 p-2 bg-transparent"><i class="fas fa-car-alt p-2"></i><span>{thing.amount}</span></li>
                                            {#else if thing.attribute.type.name is 'AREA'}
                                            <li class="list-group-item text-truncate border-0 p-2 bg-transparent"><i class="fas fa-ruler-combined p-2"></i><span>{thing.amount} m²</span></li>
                                            {/if}
                                            {/for}                                        
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {/for}
                    </ul>
                    <nav class="m-5">
                        {#if !map.properties.isEmpty}
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                            {#for index in utils:range(map.pagination,6)}
                            <li class="page-item {#if index is map.pagination}active{/if}"><a class="page-link" href="#">{index}</a></li>
                            {/for}
                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                        </ul>
                        {/if}
                    </nav>
                </div>
                <div class="col-md-4">
                    <h5 class="my-4">Filtros de búsqueda</h5>
                    <form>
                        <div class="row gy-3">
                            <div class="col-12">
                                <div class="input-group"><input class="form-control custom-floating" type="text" placeholder="Nombre del proyecto" name="project"><span class="input-group-text bg-white"><i class="material-icons">my_location</i></span></div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating"><select class="form-select" id="type" name="type">
                                        <option value="" selected="">Cualquiera</option>
                                        <option value="">Casas</option>
                                        <option value="">Edificio</option>
                                    </select><label class="form-label" for="type">Tipo de inmobiliario</label></div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-floating"><input class="form-control" type="number" id="baths" placeholder="Baños" name="bath" min="0" max="100"><label class="form-label" for="baths">Baños</label></div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-floating"><input class="form-control" type="number" id="rooms" placeholder="Habitaciones" name="room" max="100" min="0"><label class="form-label" for="rooms">Habitaciones</label></div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating"><select class="form-select" id="sell-type" name="category">
                                        <option value="">Venta / Alquiler</option>
                                        <option value="">Venta</option>
                                        <option value="">Alquiler</option>
                                    </select><label class="form-label" for="sell-type">Propiedades en:</label></div>
                            </div>
                            <div class="col-12 col-lg-auto">
                                <div class="form-floating"><select class="form-select" id="currency-type">
                                        <option value="" selected="">USD</option>
                                        <option value="">DOP</option>
                                    </select><label class="form-label" for="currency-type">Moneda</label></div>
                            </div>
                            <div class="col">
                                <div class="dropdown border rounded"><button class="btn text-start w-100 form-select custom-floating" aria-expanded="false" data-bs-toggle="dropdown" type="button">Dropdown </button>
                                    <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Personalizado<div class="input-group p-3 gap-3"><input class="form-control" type="text" data-type="currency"><input class="form-control" type="text" data-type="currency"><button class="btn btn-primary d-inline w-100" type="button">Limpiar</button></div></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 my-4"><button class="btn btn-primary btn-lg w-100" type="submit">Buscar inmuebles</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- End: Sidebar -->
    </main>
    <footer>{#include footer/}</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/formatter/currency.js?h=c473d08532b05fe5816ebe43c24db8a0"></script>
</body>

</html>