.team-boxed {
  background-color: #eef4f7;
}

.team-boxed .title {
  letter-spacing: 2px;
  font-size: 13px;
  color: #7d8285;
}

.team-boxed img {
  max-width: 160px;
}

.team-boxed .social {
  font-size: 18px;
  color: #a2a8ae;
}

.team-boxed .social a {
  font-size: 18px;
  color: #a2a8ae;
  color: inherit;
  margin: 0 10px;
  display: inline-block;
  opacity: 0.7;
}

.team-boxed .social a:hover {
  opacity: 1;
}

