header .nav-link {
  color: black !important;
}

navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover, header .nav-link.active {
  color: white !important;
  background: var(--bs-primary);
}

header .nav-link.active:hover {
  opacity: 0.75;
}

