.form-wrapper form {
  max-width: 80%;
}

.form-wrapper, .form-wrapper > img {
  height: 600px;
  max-height: 600px;
}

.search-type > * {
  padding: 0;
}

.search-type label {
  width: 100%;
}

.search-box {
  background: #EDEDED;
}

.category {
  background: rgba(0,0,0,0.25);
}

